<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area</key>
		<integer>4840</integer>
		<key>height</key>
		<integer>44</integer>
		<key>name</key>
		<string>countingPlayBtnUp</string>
		<key>width</key>
		<integer>110</integer>
		<key>xLocation</key>
		<integer>3</integer>
		<key>yLocation</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4840</integer>
		<key>height</key>
		<integer>44</integer>
		<key>name</key>
		<string>countingPlayBtnDown</string>
		<key>width</key>
		<integer>110</integer>
		<key>xLocation</key>
		<integer>116</integer>
		<key>yLocation</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4840</integer>
		<key>height</key>
		<integer>44</integer>
		<key>name</key>
		<string>normalPlayBtnUp</string>
		<key>width</key>
		<integer>110</integer>
		<key>xLocation</key>
		<integer>3</integer>
		<key>yLocation</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4840</integer>
		<key>height</key>
		<integer>44</integer>
		<key>name</key>
		<string>normalPlayBtnDown</string>
		<key>width</key>
		<integer>110</integer>
		<key>xLocation</key>
		<integer>116</integer>
		<key>yLocation</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4840</integer>
		<key>height</key>
		<integer>44</integer>
		<key>name</key>
		<string>randomSolveBtnUp</string>
		<key>width</key>
		<integer>110</integer>
		<key>xLocation</key>
		<integer>3</integer>
		<key>yLocation</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4840</integer>
		<key>height</key>
		<integer>44</integer>
		<key>name</key>
		<string>randomSolveBtnDown</string>
		<key>width</key>
		<integer>110</integer>
		<key>xLocation</key>
		<integer>116</integer>
		<key>yLocation</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4840</integer>
		<key>height</key>
		<integer>44</integer>
		<key>name</key>
		<string>systemSettingBtnUp</string>
		<key>width</key>
		<integer>110</integer>
		<key>xLocation</key>
		<integer>3</integer>
		<key>yLocation</key>
		<integer>145</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4840</integer>
		<key>height</key>
		<integer>44</integer>
		<key>name</key>
		<string>systemSettingBtnDown</string>
		<key>width</key>
		<integer>110</integer>
		<key>xLocation</key>
		<integer>116</integer>
		<key>yLocation</key>
		<integer>145</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4840</integer>
		<key>height</key>
		<integer>44</integer>
		<key>name</key>
		<string>heroBoardBtnUp</string>
		<key>width</key>
		<integer>110</integer>
		<key>xLocation</key>
		<integer>3</integer>
		<key>yLocation</key>
		<integer>191</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4840</integer>
		<key>height</key>
		<integer>44</integer>
		<key>name</key>
		<string>heroBoardBtnDown</string>
		<key>width</key>
		<integer>110</integer>
		<key>xLocation</key>
		<integer>116</integer>
		<key>yLocation</key>
		<integer>191</integer>
	</dict>
</array>
</plist>
