<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area</key>
		<real>16384</real>
		<key>height</key>
		<real>128</real>
		<key>name</key>
		<string>rockTexture</string>
		<key>width</key>
		<real>128</real>
		<key>xLocation</key>
		<real>1</real>
		<key>yLocation</key>
		<real>127</real>
	</dict>
	<dict>
		<key>area</key>
		<real>3600</real>
		<key>height</key>
		<real>45</real>
		<key>name</key>
		<string>gameOver</string>
		<key>width</key>
		<real>80</real>
		<key>xLocation</key>
		<real>131</real>
		<key>yLocation</key>
		<real>210</real>
	</dict>
	<dict>
		<key>area</key>
		<real>2500</real>
		<key>height</key>
		<real>50</real>
		<key>name</key>
		<string>fireDown</string>
		<key>width</key>
		<real>50</real>
		<key>xLocation</key>
		<real>131</real>
		<key>yLocation</key>
		<real>158</real>
	</dict>
	<dict>
		<key>area</key>
		<real>2500</real>
		<key>height</key>
		<real>50</real>
		<key>name</key>
		<string>fireUp</string>
		<key>width</key>
		<real>50</real>
		<key>xLocation</key>
		<real>183</real>
		<key>yLocation</key>
		<real>158</real>
	</dict>
	<dict>
		<key>area</key>
		<real>2500</real>
		<key>height</key>
		<real>50</real>
		<key>name</key>
		<string>leftUp</string>
		<key>width</key>
		<real>50</real>
		<key>xLocation</key>
		<real>131</real>
		<key>yLocation</key>
		<real>106</real>
	</dict>
	<dict>
		<key>area</key>
		<real>2500</real>
		<key>height</key>
		<real>50</real>
		<key>name</key>
		<string>leftDown</string>
		<key>width</key>
		<real>50</real>
		<key>xLocation</key>
		<real>183</real>
		<key>yLocation</key>
		<real>106</real>
	</dict>
	<dict>
		<key>area</key>
		<real>2500</real>
		<key>height</key>
		<real>50</real>
		<key>name</key>
		<string>rightUp</string>
		<key>width</key>
		<real>50</real>
		<key>xLocation</key>
		<real>3</real>
		<key>yLocation</key>
		<real>75</real>
	</dict>
	<dict>
		<key>area</key>
		<real>2500</real>
		<key>height</key>
		<real>50</real>
		<key>name</key>
		<string>rightDown</string>
		<key>width</key>
		<real>50</real>
		<key>xLocation</key>
		<real>55</real>
		<key>yLocation</key>
		<real>75</real>
	</dict>
	<dict>
		<key>area</key>
		<real>2500</real>
		<key>height</key>
		<real>50</real>
		<key>name</key>
		<string>thrustUp</string>
		<key>width</key>
		<real>50</real>
		<key>xLocation</key>
		<real>107</real>
		<key>yLocation</key>
		<real>54</real>
	</dict>
	<dict>
		<key>area</key>
		<real>2500</real>
		<key>height</key>
		<real>50</real>
		<key>name</key>
		<string>thrustDown</string>
		<key>width</key>
		<real>50</real>
		<key>xLocation</key>
		<real>159</real>
		<key>yLocation</key>
		<real>54</real>
	</dict>
	<dict>
		<key>area</key>
		<real>1600</real>
		<key>height</key>
		<real>40</real>
		<key>name</key>
		<string>ship</string>
		<key>width</key>
		<real>40</real>
		<key>xLocation</key>
		<real>211</real>
		<key>yLocation</key>
		<real>64</real>
	</dict>
	<dict>
		<key>area</key>
		<real>1600</real>
		<key>height</key>
		<real>40</real>
		<key>name</key>
		<string>shipDestroy1</string>
		<key>width</key>
		<real>40</real>
		<key>xLocation</key>
		<real>3</real>
		<key>yLocation</key>
		<real>33</real>
	</dict>
	<dict>
		<key>area</key>
		<real>1600</real>
		<key>height</key>
		<real>40</real>
		<key>name</key>
		<string>shipDestroy2</string>
		<key>width</key>
		<real>40</real>
		<key>xLocation</key>
		<real>45</real>
		<key>yLocation</key>
		<real>33</real>
	</dict>
	<dict>
		<key>area</key>
		<real>1600</real>
		<key>height</key>
		<real>40</real>
		<key>name</key>
		<string>shipDestroy3</string>
		<key>width</key>
		<real>40</real>
		<key>xLocation</key>
		<real>211</real>
		<key>yLocation</key>
		<real>22</real>
	</dict>
	<dict>
		<key>area</key>
		<real>1600</real>
		<key>height</key>
		<real>40</real>
		<key>name</key>
		<string>shipDestroy4</string>
		<key>width</key>
		<real>40</real>
		<key>xLocation</key>
		<real>87</real>
		<key>yLocation</key>
		<real>12</real>
	</dict>
	<dict>
		<key>area</key>
		<real>1224</real>
		<key>height</key>
		<real>36</real>
		<key>name</key>
		<string>bang1</string>
		<key>width</key>
		<real>34</real>
		<key>xLocation</key>
		<real>213</real>
		<key>yLocation</key>
		<real>219</real>
	</dict>
	<dict>
		<key>area</key>
		<real>1224</real>
		<key>height</key>
		<real>36</real>
		<key>name</key>
		<string>bang2</string>
		<key>width</key>
		<real>34</real>
		<key>xLocation</key>
		<real>129</real>
		<key>yLocation</key>
		<real>16</real>
	</dict>
	<dict>
		<key>area</key>
		<real>1224</real>
		<key>height</key>
		<real>36</real>
		<key>name</key>
		<string>bang3</string>
		<key>width</key>
		<real>34</real>
		<key>xLocation</key>
		<real>165</real>
		<key>yLocation</key>
		<real>16</real>
	</dict>
	<dict>
		<key>area</key>
		<real>372</real>
		<key>height</key>
		<real>31</real>
		<key>name</key>
		<string>missile1</string>
		<key>width</key>
		<real>12</real>
		<key>xLocation</key>
		<real>235</real>
		<key>yLocation</key>
		<real>186</real>
	</dict>
	<dict>
		<key>area</key>
		<real>372</real>
		<key>height</key>
		<real>31</real>
		<key>name</key>
		<string>missile2</string>
		<key>width</key>
		<real>12</real>
		<key>xLocation</key>
		<real>235</real>
		<key>yLocation</key>
		<real>153</real>
	</dict>
	<dict>
		<key>area</key>
		<real>372</real>
		<key>height</key>
		<real>31</real>
		<key>name</key>
		<string>missile3</string>
		<key>width</key>
		<real>12</real>
		<key>xLocation</key>
		<real>235</real>
		<key>yLocation</key>
		<real>120</real>
	</dict>
</array>
</plist>
