<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>frontCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>frontCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>front2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>backCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>71</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>backCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>71</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>back2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>rightCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>142</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>rightCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>142</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>right2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>142</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>leftCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>213</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>leftCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>213</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>left2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>213</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>upCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>284</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>upCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>284</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>up2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>284</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>downCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>355</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>downCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>355</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>down2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>355</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>xCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>426</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>xCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>426</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>x2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>426</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>yCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>497</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>yCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>497</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>y2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>497</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>zCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>568</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>zCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>568</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>z2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>568</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>frontTwoCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>639</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>frontTwoCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>639</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>frontTwo2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>639</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>backTwoCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>710</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>backTwoCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>710</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>backTwo2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>710</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>rightTwoCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>781</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>rightTwoCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>781</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>rightTwo2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>781</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>leftTwoCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>852</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>leftTwoCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>852</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>leftTwo2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>852</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>upTwoCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>923</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>upTwoCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>923</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>upTwo2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>923</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>downTwoCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>994</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>downTwoCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>71</integer>
		<key>yLocation</key>
		<integer>994</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>downTwo2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>994</integer>
	</dict>
    <dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>mxCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>1065</integer>
	</dict>
    <dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>mxCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>1065</integer>
	</dict>
    <dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>mx2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>1065</integer>
	</dict>
    <dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>myCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>1136</integer>
	</dict>
    <dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>myCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>1136</integer>
	</dict>
    <dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>my2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>1136</integer>
	</dict>
    <dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>mzCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>1207</integer>
	</dict>
    <dict>
		<key>area</key>
		<integer>5041</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>mzCCW</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>1207</integer>
	</dict>
    <dict>
		<key>area</key>
		<integer>8094</integer>
		<key>height</key>
		<integer>71</integer>
		<key>name</key>
		<string>mz2CW</string>
		<key>width</key>
		<integer>114</integer>
		<key>xLocation</key>
		<integer>142</integer>
		<key>yLocation</key>
		<integer>1207</integer>
	</dict>

	<dict>
		<key>area</key>
		<integer>9940</integer>
		<key>height</key>
		<integer>140</integer>
		<key>name</key>
		<string>actionarrow</string>
		<key>width</key>
		<integer>71</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>1278</integer>
	</dict>
</array>
</plist>
