<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item 0</key>
	<dict>
		<key>area</key>
		<integer>16000</integer>
		<key>height</key>
		<integer>80</integer>
		<key>name</key>
		<string>countingPlayBtnUp</string>
		<key>width</key>
		<integer>200</integer>
		<key>xLocation</key>
		<integer>30</integer>
		<key>yLocation</key>
		<integer>25</integer>
	</dict>
	<key>item 0 - 2</key>
	<dict>
		<key>area</key>
		<integer>16000</integer>
		<key>height</key>
		<integer>80</integer>
		<key>name</key>
		<string>countingPlayBtnDown</string>
		<key>width</key>
		<integer>200</integer>
		<key>xLocation</key>
		<integer>30</integer>
		<key>yLocation</key>
		<integer>25</integer>
	</dict>
	<key>item 1</key>
	<dict>
		<key>area</key>
		<integer>16000</integer>
		<key>height</key>
		<integer>80</integer>
		<key>name</key>
		<string>normalPlayBtnUp</string>
		<key>width</key>
		<integer>200</integer>
		<key>xLocation</key>
		<integer>30</integer>
		<key>yLocation</key>
		<integer>128</integer>
	</dict>
	<key>item 1 - 2</key>
	<dict>
		<key>area</key>
		<integer>16000</integer>
		<key>height</key>
		<integer>80</integer>
		<key>name</key>
		<string>normalPlayBtnDown</string>
		<key>width</key>
		<integer>200</integer>
		<key>xLocation</key>
		<integer>30</integer>
		<key>yLocation</key>
		<integer>128</integer>
	</dict>
	<key>item 2</key>
	<dict>
		<key>area</key>
		<integer>16000</integer>
		<key>height</key>
		<integer>80</integer>
		<key>name</key>
		<string>randomSolveBtnUp</string>
		<key>width</key>
		<integer>200</integer>
		<key>xLocation</key>
		<integer>30</integer>
		<key>yLocation</key>
		<integer>222</integer>
	</dict>
	<key>item 2 - 2</key>
	<dict>
		<key>area</key>
		<integer>16000</integer>
		<key>height</key>
		<integer>80</integer>
		<key>name</key>
		<string>randomSolveBtnDown</string>
		<key>width</key>
		<integer>200</integer>
		<key>xLocation</key>
		<integer>30</integer>
		<key>yLocation</key>
		<integer>222</integer>
	</dict>
	<key>item 3</key>
	<dict>
		<key>area</key>
		<integer>16000</integer>
		<key>height</key>
		<integer>80</integer>
		<key>name</key>
		<string>systemSettingBtnUp</string>
		<key>width</key>
		<integer>200</integer>
		<key>xLocation</key>
		<integer>30</integer>
		<key>yLocation</key>
		<integer>316</integer>
	</dict>
	<key>item 3 - 2</key>
	<dict>
		<key>area</key>
		<integer>16000</integer>
		<key>height</key>
		<integer>80</integer>
		<key>name</key>
		<string>systemSettingBtnDown</string>
		<key>width</key>
		<integer>200</integer>
		<key>xLocation</key>
		<integer>30</integer>
		<key>yLocation</key>
		<integer>316</integer>
	</dict>
	<key>item 4</key>
	<dict>
		<key>area</key>
		<integer>16000</integer>
		<key>height</key>
		<integer>80</integer>
		<key>name</key>
		<string>heroBoardBtnUp</string>
		<key>width</key>
		<integer>200</integer>
		<key>xLocation</key>
		<integer>30</integer>
		<key>yLocation</key>
		<integer>418</integer>
	</dict>
	<key>item 4 - 2</key>
	<dict>
		<key>area</key>
		<integer>16000</integer>
		<key>height</key>
		<integer>80</integer>
		<key>name</key>
		<string>heroBoardBtnDown</string>
		<key>width</key>
		<integer>200</integer>
		<key>xLocation</key>
		<integer>30</integer>
		<key>yLocation</key>
		<integer>418</integer>
	</dict>
</dict>
</plist>
