<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dot2</key>
		<dict>
			<key>x</key>
			<real>55</real>
			<key>y</key>
			<real>83</real>
			<key>w</key>
			<real>13</real>
			<key>h</key>
			<real>25</real>
		</dict>
		<key>dotdot2</key>
		<dict>
			<key>x</key>
			<real>40</real>
			<key>y</key>
			<real>83</real>
			<key>w</key>
			<real>13</real>
			<key>h</key>
			<real>25</real>
		</dict>
		<key>eight2</key>
		<dict>
			<key>x</key>
			<real>40</real>
			<key>y</key>
			<real>29</real>
			<key>w</key>
			<real>17</real>
			<key>h</key>
			<real>25</real>
		</dict>
		<key>five2</key>
		<dict>
			<key>x</key>
			<real>21</real>
			<key>y</key>
			<real>83</real>
			<key>w</key>
			<real>17</real>
			<key>h</key>
			<real>25</real>
		</dict>
		<key>four2</key>
		<dict>
			<key>x</key>
			<real>21</real>
			<key>y</key>
			<real>56</real>
			<key>w</key>
			<real>17</real>
			<key>h</key>
			<real>25</real>
		</dict>
		<key>nine2</key>
		<dict>
			<key>x</key>
			<real>21</real>
			<key>y</key>
			<real>29</real>
			<key>w</key>
			<real>17</real>
			<key>h</key>
			<real>25</real>
		</dict>
		<key>one2</key>
		<dict>
			<key>x</key>
			<real>40</real>
			<key>y</key>
			<real>56</real>
			<key>w</key>
			<real>15</real>
			<key>h</key>
			<real>25</real>
		</dict>
		<key>seven2</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>83</real>
			<key>w</key>
			<real>17</real>
			<key>h</key>
			<real>25</real>
		</dict>
		<key>six2</key>
		<dict>
			<key>x</key>
			<real>57</real>
			<key>y</key>
			<real>56</real>
			<key>w</key>
			<real>17</real>
			<key>h</key>
			<real>23</real>
		</dict>
		<key>step2</key>
		<dict>
			<key>x</key>
			<real>52</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>48</real>
			<key>h</key>
			<real>25</real>
		</dict>
		<key>three2</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>56</real>
			<key>w</key>
			<real>17</real>
			<key>h</key>
			<real>25</real>
		</dict>
		<key>time2</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>48</real>
			<key>h</key>
			<real>25</real>
		</dict>
		<key>two2</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>29</real>
			<key>w</key>
			<real>17</real>
			<key>h</key>
			<real>25</real>
		</dict>
		<key>zero2</key>
		<dict>
			<key>x</key>
			<real>102</real>
			<key>y</key>
			<real>2</real>
			<key>w</key>
			<real>17</real>
			<key>h</key>
			<real>25</real>
		</dict>
	</dict>
	<key>meta</key>
	<dict>
		<key>image</key>
		<string>number.png</string>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
</dict>
</plist>
