<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area</key>
		<real>625</real>
		<key>height</key>
		<real>25</real>
		<key>name</key>
		<string>whiteBlur</string>
		<key>scale</key>
		<real>1</real>
		<key>type</key>
		<integer>0</integer>
		<key>width</key>
		<real>25</real>
		<key>xLocation</key>
		<real>1</real>
		<key>xOffset</key>
		<real>0.0</real>
		<key>xPlayerOffset</key>
		<real>0.0</real>
		<key>yLocation</key>
		<real>38</real>
		<key>yOffset</key>
		<real>0.0</real>
		<key>yPlayerOffset</key>
		<real>0.0</real>
		<key>zOffset</key>
		<real>0.0</real>
		<key>zPlayerOffset</key>
		<real>0.0</real>
		<key>zRotation</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>area</key>
		<real>625</real>
		<key>height</key>
		<real>25</real>
		<key>name</key>
		<string>greenBlur</string>
		<key>scale</key>
		<real>1</real>
		<key>type</key>
		<integer>0</integer>
		<key>width</key>
		<real>25</real>
		<key>xLocation</key>
		<real>28</real>
		<key>xOffset</key>
		<real>0.0</real>
		<key>xPlayerOffset</key>
		<real>0.0</real>
		<key>yLocation</key>
		<real>38</real>
		<key>yOffset</key>
		<real>0.0</real>
		<key>yPlayerOffset</key>
		<real>0.0</real>
		<key>zOffset</key>
		<real>0.0</real>
		<key>zPlayerOffset</key>
		<real>0.0</real>
		<key>zRotation</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>area</key>
		<real>575</real>
		<key>height</key>
		<real>25</real>
		<key>name</key>
		<string>lightBlur</string>
		<key>scale</key>
		<real>1</real>
		<key>type</key>
		<integer>0</integer>
		<key>width</key>
		<real>23</real>
		<key>xLocation</key>
		<real>3</real>
		<key>xOffset</key>
		<real>0.0</real>
		<key>xPlayerOffset</key>
		<real>0.0</real>
		<key>yLocation</key>
		<real>11</real>
		<key>yOffset</key>
		<real>0.0</real>
		<key>yPlayerOffset</key>
		<real>0.0</real>
		<key>zOffset</key>
		<real>0.0</real>
		<key>zPlayerOffset</key>
		<real>0.0</real>
		<key>zRotation</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>area</key>
		<real>240</real>
		<key>height</key>
		<real>16</real>
		<key>name</key>
		<string>redBlur</string>
		<key>scale</key>
		<real>1</real>
		<key>type</key>
		<integer>0</integer>
		<key>width</key>
		<real>15</real>
		<key>xLocation</key>
		<real>28</real>
		<key>xOffset</key>
		<real>0.0</real>
		<key>xPlayerOffset</key>
		<real>0.0</real>
		<key>yLocation</key>
		<real>20</real>
		<key>yOffset</key>
		<real>0.5</real>
		<key>yPlayerOffset</key>
		<real>0.0</real>
		<key>zOffset</key>
		<real>0.0</real>
		<key>zPlayerOffset</key>
		<real>0.0</real>
		<key>zRotation</key>
		<real>0.0</real>
	</dict>
</array>
</plist>
